---

---

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="nav-bar">
        <div>
            LOGO HERE
        </div>
        <div class="link-list">
            <a href="#">LINK</a>
            <a href="#">LINK</a>
            <a href="#">LINK</a>
            <a href="#">LINK</a>
            <a href="#">LINK</a>
        </div>
    </nav>

    <main>
                <br><br><br><br><br>
        <div class="div-split">
            <div class="image-follow">
            <br><br><br>
            <br><br><br>
            <br><br><br>
                <img src="img/can (1).jpg">
            </div>
            <div class="image-content">
                <p>La original</p>
                <h1>DARK PULSE</h1>
                <br>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
            </div>
        </div>
        <div class="center-container">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore quam iusto voluptatibus aperiam sequi incidunt nihil alias hic obcaecati eius distinctio eligendi officia facilis impedit earum, ut provident quis?</p>
        </div>
        <br><br><br>
    </main>

    <footer class="footer">
        <div>
            <p>pretend this is the brand image</p>
            <p>Copyright info here</p>
        </div>
        <div>
            <p>Compañia</p>
            <a href="#">Empleo</a>
            <a href="#">Sobre nosostros</a>
            <a href="#">Marca</a>
            <a href="#">Politica de privacidad</a>
        </div>
        <div>
            <p>Ayuda</p>
            <a href="#">Preguntas Frecuentes</a>
            <a href="#">Contacta con nosotros</a>
        </div>
    </footer>
</body>

</html>