---

const { } = Astro.props
---

<footer class="footer">
        <div>
            <p>Dark Pulse</p>
            <p>Copyright R 2026</p>
        </div>
        <div>
            <p>Compañia</p>
            <a href="#">Empleo</a>
            <a href="#">Sobre nosostros</a>
            <a href="#">Marca</a>
            <a href="#">Politica de privacidad</a>
        </div>
        <div>
            <p>Ayuda</p>
            <a href="#">Preguntas Frecuentes</a>
            <a href="#">Contacta con nosotros</a>
        </div>
    </footer>