---

const { } = Astro.props
---

    <nav class="nav-bar fixed">
        <div class="nav-logo">
            <a href="/">LOGO</a>
        </div>
        <div class="link-list">
            <a href="#">LINK</a>
            <a href="#">LINK</a>
            <a href="#">LINK</a>
            <a href="#">LINK</a>
            <a href="#">LINK</a>
        </div>
    </nav>
	

    <nav class="nav-bar">
        <div class="nav-logo">
            <a href="/">LOGO HERE</a>
        </div>
        <div class="link-list">
            <a href="#">LINK</a>
            <a href="#">LINK</a>
            <a href="#">LINK</a>
            <a href="#">LINK</a>
            <a href="#">LINK</a>
        </div>
    </nav>